@use '../../scss/' as *;

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 3rem;

  @include tablet {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  &__loadmore {
    text-align: center;
  }
  .loading-box {
    display: inline-block;
    height: 1em;
    position: relative;
    overflow: hidden;
    background-color: #454245;
    height: 300px;
    border-radius: 10%;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(
        90deg,
        rgba(#fff, 0) 0,
        rgba(#fff, 0.2) 20%,
        rgba(#fff, 0.5) 60%,
        rgba(#fff, 0)
      );
      animation: shimmer 2s infinite;
      content: '';
    }

    @keyframes shimmer {
      100% {
        transform: translateX(100%);
      }
    }
  }
}

.movie-search {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;

  input {
    width: 100%;
    padding-right: 8rem;
  }

  button {
    position: absolute;
    right: 0;
    top: 2px;

    @include mobile {
      right: 1px;
      top: 1px;
    }
  }
}
