@use '../../scss/' as *;

.movie-box {
  position: relative;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: $border-radius;
  margin-bottom: 1rem;

  .box {
    .box-conten {
      width: 70%;
      margin-left: 2rem;

      h5 {
        padding: 2px;
        margin: 1rem 0 1rem 0;
      }
    }
    .box-image {
      width: 200px;
      border-radius: $border-radius;
    }
  }

  .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $black;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: $border-radius;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover::before {
      opacity: 0.8;
    }

    &:hover .btn {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}
